p {
  font-size: 1.0rem
}

button {
  text-align: center;
  font-size: 25px;
}


.mat-mdc-card-image {
  max-height: 30px;
  max-width: 30px;
}

.mat-mdc-flat-button {
  max-height: 30px;
  max-width: 30px;
}


button:focus {
  outline: 0px;
}

button:hover {
  transform: scale(1.05);
}

element.style {
  margin: 0px 0px 0px;
}
