<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

<mat-card fxFlex="20" fxFlex.lg="15%" fxFlex.md="14%" fxFlex.sm="65%" fxFlex.xs="80%" style="box-shadow: none;">
  <a (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')" style="cursor: pointer;">
    <img mat-card-image src="./assets/images/nomads/gavana.jpg" alt="image"> 
  </a>
</mat-card>
<mat-card-header>
</mat-card-header>
<mat-card-content fxFlex="72" fxFlex.lg="69%" fxFlex.md="64%">
  <div fxLayoutAlign="start"
        fxLayout="row">
    <div fxFlex="15%"
          fxFlex.md="20%"
          fxFlex.sm="30%"
          fxFlex.xs="40%" >
      Artist:
    </div>
    <div fxFlex="85%"
          fxFlex.sm="70%"
          fxFlex.xs="60%"
          style="font-size: 1.15em">
      Gavana
    </div>
    </div>

    <div fxLayoutAlign="start"
        fxLayout="row">
    <div fxFlex="15%"
          fxFlex.md="20%"
          fxFlex.sm="30%"
          fxFlex.xs="40%">
      Song:
    </div>
    <div fxFlex="85%"
        fxFlex.sm="70%"
        fxFlex.xs="60%"
          style="font-size: 1.15em">
      Christos Dubquake
    </div>
    </div>

    <div fxLayoutAlign="start"
      fxLayout="row">
    <div fxFlex="15%"
        fxFlex.md="20%"
        fxFlex.sm="30%"
        fxFlex.xs="40%">
    Album:
    </div>
    <div fxFlex="85%"
        fxFlex.sm="70%"
        fxFlex.xs="60%"
        style="font-size: 1.15em;cursor: pointer;"
        (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')">
    Nomads in Sound 4
    </div>
    </div>

    <div fxLayoutAlign="start"
    fxLayout="row">
    <div fxFlex="15%"
      fxFlex.md="20%"
      fxFlex.sm="30%"
      fxFlex.xs="40%">
    Home Page:
    </div>
    <div fxFlex="85%"
        fxFlex.sm="70%"
        fxFlex.xs="60%"
      style="font-size: 1.15em;cursor: pointer;"
      (click)="onClick('https://soundcloud.com/gavana')">
      Soundcloud
    </div>
    </div>

    <div fxLayoutAlign="start"
    fxLayout="row">
    <div fxFlex="15%"
      fxFlex.md="20%"
      fxFlex.sm="30%"
      fxFlex.xs="40%">
    Social Media:
    </div>
    <div fxFlex="85%"
        fxFlex.sm="70%"
        fxFlex.xs="60%"
      style="font-size: 1.15em">
    Twitter, Instagram, Facebook
    </div>
  </div>

  <div fxLayoutAlign="start"
    fxLayout="row"
    fxHide.lg
    fxHide.md
    fxHide.sm
    fxHide.xs
    style="margin-top: 15px;">
    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=108535965/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=none/transparent=true/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/come-ruff">Come Ruff by Aimnbreak</a></iframe>
    </div>

    <div fxLayoutAlign="start"
    fxLayout="row"
    fxHide.xl
    fxHide.md
    fxHide.sm
    fxHide.xs
    style="margin-top: 15px;">
    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=108535965/size=small/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/come-ruff">Come Ruff by Aimnbreak</a></iframe>
    </div>

</mat-card-content>

  <div fxFlex="99%"
  fxHide.xl
  fxHide.lg
  style="margin-bottom: 15px;">
  <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=108535965/size=small/bgcol=ffffff/linkcol=0687f5/artwork=none/track=3120674145/transparent=true/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/come-ruff">Come Ruff by Aimnbreak</a></iframe>
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>How would you describe your musical background?</h5>

      When I grew one of the sounds that surrounded me was Greek Rebetiko played by my (Greek) father,  and another was italo disco on the radio, which I recorded on 
      cassette. At the age of 18 at the end of the 1980s I ran away from home and ended up in Amsterdam where I embraced the acid house club culture. Another great 
      influence was the sound system culture in Leeds/ UK, where I lived at the beginning of the present century. I am not a trained musician but make music 
      (on hardware equipment – no samples) inspired by my background as a vinyl DJ, exploring and mixing music at clubs around the world since the 1990s. 
  </span>
  </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>

      Sound system culture, especially Sudub in Leeds, where I first experienced Steppers Dub. Another main influence is the DJ collectives and projects with Stockholm 
      based DJ Anaya, as well as Meerkat Recordings. My greatest musical influences are Jah Warrior, Warrior Queen, and Markos Vamvakaris.
  </span>
  </p> 
  </div>
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>

        In some of my earlier music I explore the world around me through sound, like on my EP Malaga Nights, which reflects the feels and sounds from when I lived in the 
        Malaga Party district in 2013/ 2014. On my EPs Greek Acid and Greek Dub I explore influences from music I grew up with, rebetiko music as well as shepherd music from Epyrus. 
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>

        I am extremely inspired by my collaborations with Pufferfisk and Bass Trolls (duos with Peter Eriksson) – and the artists on this compilation. My music projects also 
        intertwine with my projects as an author, investigating and writing about DJ culture and club history. 
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>
        
        Looking for vinyl gems in remote basements and corners – while exploring and engaging with the world around me through sound. The best part is creating new worlds 
        in the studio and ending up in a parallel universe.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        
        Lately I have engaged with themes around death, perseverance and relations with those who are no longer among us. This is a posthumous collaboration with my brother 
        Christos, who died 20 years ago in a motorcycle accident (at the age of 25). I’ve been inspired by his music and voice (which I found on a cassette he recorded for a 
        pirate radio show) and this lead to a happy outdoor nineties rave vibe: a vessel for getting together beyond life and death, time and space. 
    </span>
    </p> 
  </div>

  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>