<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>
  <div
    class="row"
    fxLayoutAlign="center"
    fxLayout="row"
    style="margin-bottom: 15px;"
  >
  <div class="col-md-2">
    <img
    src="./assets/images/nomads/joxaren.jpg"
    alt="Photo of Joxaren"
    class="image-blurred"
    style="width: 100%;height: auto;"
  />
  </div>
  <div class="col-md-10">
    <p style="padding-bottom: 15px;">
        <strong>
            <h3>Joxaren</h3>
            <h5>"Vålnad"</h5>
        </strong>
    </p>
        <p style="padding-bottom: 15px;">
            <span>
            <h5>How would you describe your musical background?</h5>
            I come from a background in punk, synth, industrial and anti-music, later found dub and subsequently reggae via KMFDM:s collaborations with Adrian Sherwood. At this point I’ve made music in most styles, except traditional guitar pop.
        </span>
        </p> 
    </div>
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>
      My collectives have been Uppsala Rockers, Moder Jords Massiva as well as the Skweee movement. During the latest decade I’ve been influenced by music from places like Romania and Albania, but also African kwaito och Kuduro.
  </span>
  </p> 
  </div>
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>
        The record I’m probably most proud of is the single "Nunta de Valoare," which I made in in 2016, in collaboration with Romanian artists I got to know in Stockholm by coincidence, and which reached further than I imagined.  And I recently released an EP with Eek-a-Mouse, a collaboration I could only have dreamed of previously. 
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>
        At the moment I am writing new lyrics and songs with my first band which was founded in 1988, Big Fish. It is very inspiring.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>
        I want to let music and life intertwine, keep my senses open to reality’s interventions and coincidences, and try to let music take me to unexplored places physically, socially and mentally.   
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        This is one of several tracks where I have explored a certain drive and rythmics that have interested me, based on my live setup from 2018 with only analogue hardware, step sequensers, arpeggiators and no samples. I feel that the result became contemplative and simultaneously urgent.
    </span>
    </p> 
  </div>

  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>