<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

<div class="card mb-2 border-0" fxFlex="100%">
  <div class="row no-gutters">
    <div class="col-md-3 mb-2 mt-0" style="padding-top: 0;padding-left: 0;padding-right: 25px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition')" fxHide.xs>
      <img src="./assets/images/nomads/joxaren.jpg" class="card-img" alt="..." style="max-width: 300px;max-height: 100%;">
    </div>
    <div class="col-md-3 mb-2 mt-0" style="padding-top: 0;padding-left: 0;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition')" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
      <img src="./assets/images/nomads/joxaren.jpg" class="card-img" alt="..." style="max-width: 100%;max-height: 100%;">
    </div>
    <div class="col-md-9">
      <div class="card-body" style="max-width: 1040px;padding-top: 0;padding-left: 0;padding-right: 0;">

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Artist:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Joxaren
            </p>
            <p style="font-size: 1.1em;margin-bottom: 5px;text-align:center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <strong>
                Joxaren
              </strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Song:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Vålnad
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              Vålnad
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Album:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition')" fxHide.xs>Nomads in Sound 4 - Steppe Edition</p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition')" fxHide.xl fxHide.lg fxHide.md fxHide.sm><small>Nomads in Sound 4 - Steppe Edition</small></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Home Page:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/joxaren')" fxHide.xs>
                soundcloud.com/joxaren
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/joxaren')" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                soundcloud.com/joxaren
              </small>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Social Media:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Twitter, Instagram, Facebook
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                Twitter, Instagram, Facebook
              </small>
            </p>
          </div>
        </div>

        <iframe 
          fxHide.md
          fxHide.sm
          fxHide.xs 
          style="border: 0; width: 100%; height: 120px;margin-top: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=2592989262/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/tracklist=false/tracks=1580585194/esig=de5c9a3f8398955c9bcbd1e7518c2547/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition">Nomads in Sound 4 - Steppe Edition by Joxaren</a>
      </iframe>

      </div>
    </div>
  </div>
</div>

<iframe 
fxHide.xl
fxHide.lg
style="border: 0; width: 100%; height: 120px;margin-bottom: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=2592989262/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/tracklist=false/tracks=1580585194/esig=de5c9a3f8398955c9bcbd1e7518c2547/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition">Nomads in Sound 4 - Steppe Edition by Joxaren</a>
</iframe>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>How would you describe your musical background?</h5>

      I make intricate melodic electronica with vague echoes of hip-hop and drum&#39;n&#39;bass under the name
      Hab. I play guitar and sing in bands, among them a four-piece called Mouth that made it as far as a
      major-label contract (on Warner subsidiaries Telegram and Reprise in Sweden and America,
      respectively) before dissolving in 1994 under the weight of an archetypally &quot;corporate rock&quot;
      experience. I spent subsequent years traveling from Sweden to Paris, and finally to the Hasidic
      neighborhood of Williamsburg in Brooklyn (site of a sort of late-&#39;90s New York bohemian
      renaissance), where I recorded most of my material under the name Hab, wich resulted in the album
      maPOd, released on Dot in 1997.
  </span>
  </p> 
  </div>

  <!-- <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>

      The first of the material I produced in Brooklyn Swedish label, later renamed dotshop. Collaborations
      with then-Dot artist Krister Linder (of Tupilaq); our debut EPs for the label were among its first
      releases and helped garner Dot the attention that transformed the label into something of an
      overnight sensation. Later projects include Binger the Voyager with Fredrik Joelson and Kool Kojak
      /Al D Bomba (CD Sweet Taste of Nothing, Oxygen Music Works 1999) and soundscapes with Khim
      Efraimsson for the poetry koncept Broken Word / Johannes Anyuru &amp; Mercies May (CD Anatomy of a
      Dying Star, 2005). I have also made music for the Håkan Lidbo/ radio ström koncepts and
      compilations (what we are -music for alien civilizations, 2008) and (Precycling Namibia -The Music
      From The Future, 2010).
  </span>
  </p> 
  </div> -->
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>

        The first of the material I produced in Brooklyn Swedish label, later renamed dotshop. Collaborations
        with then-Dot artist Krister Linder (of Tupilaq); our debut EPs for the label were among its first
        releases and helped garner Dot the attention that transformed the label into something of an
        overnight sensation. Later projects include Binger the Voyager with Fredrik Joelson and Kool Kojak
        /Al D Bomba (CD Sweet Taste of Nothing, Oxygen Music Works 1999) and soundscapes with Khim
        Efraimsson for the poetry koncept Broken Word / Johannes Anyuru &amp; Mercies May (CD Anatomy of a
        Dying Star, 2005). I have also made music for the Håkan Lidbo/ radio ström koncepts and
        compilations (what we are -music for alien civilizations, 2008) and (Precycling Namibia -The Music
        From The Future, 2010).
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>

        My most recent album Hab on Kotangens records(2011) is a collection of both rhythmically stunning
        and melodically engaging post-techno, interweaving thin, intricately syncopated percussion with
        thematic figures that are given far more focus and development than is typical of even the most
        armchair-oriented of electronica. In 2021 I released the track Höst on Meerkat Recordings Nomads in
        Sound 03.
    </span>
    </p> 
  </div>

  <!-- <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>
        
        I want to let music and life intertwine, keep my senses open to reality’s interventions and coincidences, and try to let music take me to 
        unexplored places physically, socially and mentally.   
    </span>
    </p> 
  </div> -->

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        
        With the track Worlds (on fire) I believe HAb wants to convey that not only life on the planet suffers
        from irresponsible deeds against nature and climate. Intergalactic life, other worlds -- inner and
        outer – are also affected. In other words, we are causing much more damage than we can even
        understand.
    </span>
    </p> 
  </div>

  <br/>
  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>