<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>
  <div
    class="row"
    fxLayoutAlign="center"
    fxLayout="row"
    style="margin-bottom: 15px;"
  >
  <div class="col-md-2">
    <img
    src="./assets/images/nomads/bass_trolls.jpg"
    alt="Photo of Bass Trolls"
    class="image-blurred"
    style="width: 100%;height: auto;"
  />
  </div>
  <div class="col-md-10">
    <p style="padding-bottom: 15px;">
        <strong>
            <h3>Bass Trolls</h3>
            <h5>"Meerkat Anthem"</h5>
        </strong>
    </p>
        <p style="padding-bottom: 15px;">
            <span>
            <h5>How would you describe your musical background?</h5>
            We are influenced by bass music, mainly UK, French and Japanese steppers dub but also jungle breaks.
        </span>
        </p> 
    </div>
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>
      Our main influences are High Tone, Jah Warrior, Killa Sista, Vibronics and Tiken Jah Fakoly. 
  </span>
  </p> 
  </div>
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>
        Our sound was born after experiencing High Tone live at the Clandestino festival (Gothenburg/ Sweden) in 2010 and evolved further when we experienced Vibronics live at the United Nations of Dub festival (Wales/ UK) in 2015. So far we have released three records on vinyl as Bass Trolls – all influenced by different types of dub. We released our first track on vinyl ten years ago, Gnomes Unite, on the Nomads in Sound 02 compilation. The second one was Stand Firm with Uzul, and the third one was Trees, Fruits and Vegetation. 
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>
        In addition to the UK and French steppers dub scenes we are greatly inspired by Japanese dub, like Osaka Steppers and Killa Sista. 
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>
        Vinyl and sound system culture, as well as old school dub sirens, delays and reverbs. 
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        Meerkat Anthem is a steppers dub track that celebrates the anniversary of Meerkat Recordings through an ode to the Meerkat Recordings Studio, an analogue Stockholm based hardware studio. Meerkat Recordings Studio has the aim to create warm, bass heavy and dubby sounds and thereby promote our vision of “auditive health.” 
    </span>
    </p> 
  </div>

  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>