<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

<div class="card mb-2 border-0" fxFlex="100%">
  <div class="row no-gutters">
    <div class="col-md-3 mb-2 mt-0" style="padding-top: 0;padding-left: 0;padding-right: 25px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition')">
      <img src="./assets/images/nomads/bass_trolls.jpg" class="card-img" alt="..." style="max-width: 300px;max-height: 100%;" fxHide.xs>
      <img src="./assets/images/nomads/bass_trolls.jpg" class="card-img" alt="..." style="max-width: 100%;max-height: 100%;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
    </div>
    <div class="col-md-9">
      <div class="card-body" style="max-width: 1040px;padding-top: 0;padding-left: 0;padding-right: 0;">

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Artist:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Bass Trolls
            </p>
            <p style="font-size: 1.1em;margin-bottom: 5px;text-align:center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <strong>
                Bass Trolls
              </strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Song:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Meerkat Anthem
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              Meerkat Anthem
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Album:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition')" fxHide.xs>Nomads in Sound 4 - Steppe Edition</p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition')" fxHide.xl fxHide.lg fxHide.md fxHide.sm><small>Nomads in Sound 4 - Steppe Edition</small></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Home Page:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/basstrolls')" fxHide.xs>
                soundcloud.com/basstrolls
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/basstrolls')" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                soundcloud.com/basstrolls
              </small>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Social Media:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Twitter, Instagram, Facebook
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                Twitter, Instagram, Facebook
              </small>
            </p>
          </div>
        </div>

        <iframe 
          fxHide.md
          fxHide.sm
          fxHide.xs 
          style="border: 0; width: 100%; height: 120px;margin-top: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=2592989262/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/tracklist=false/tracks=278979737/esig=54bd6fbd6a22eac6439b83e837b27008/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition">Nomads in Sound 4 - Steppe Edition by Bass Trolls</a>
      </iframe>

      </div>
    </div>
  </div>
</div>

<iframe 
fxHide.xl
fxHide.lg
style="border: 0; width: 100%; height: 120px;margin-bottom: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=2592989262/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/tracklist=false/tracks=278979737/esig=54bd6fbd6a22eac6439b83e837b27008/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition">Nomads in Sound 4 - Steppe Edition by Bass Trolls</a>
</iframe>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>How would you describe your musical background?</h5>

      We are influenced by bass music, mainly UK, French and Japanese steppers dub but also jungle breaks.
  </span>
  </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>

      Our main influences are High Tone, Jah Warrior, Killa Sista, Vibronics and Tiken Jah Fakoly.
  </span>
  </p> 
  </div>
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>

        Our sound was born after experiencing High Tone live at the Clandestino festival (Gothenburg/ Sweden) in 2010 and evolved further when we experienced Vibronics 
        live at the United Nations of Dub festival (Wales/ UK) in 2015. So far we have released three records on vinyl as Bass Trolls – all influenced by different types 
        of dub. We released our first track on vinyl ten years ago, Gnomes Unite, on the Nomads in Sound 02 compilation. The second one was Stand Firm with Uzul, and the 
        third one was Trees, Fruits and Vegetation. 
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>

        In addition to the UK and French steppers dub scenes we are greatly inspired by Japanese dub, like Osaka Steppers and Killa Sista. 
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>
        
        Vinyl and sound system culture, as well as old school dub sirens, delays and reverbs.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        
        Meerkat Anthem is a steppers dub track that celebrates the anniversary of Meerkat Recordings through an ode to the Meerkat Recordings Studio, an analogue 
        Stockholm based hardware studio. Meerkat Recordings Studio has the aim to create warm, bass heavy and dubby sounds and thereby promote our vision of “auditive health.” 
    </span>
    </p> 
  </div>

  <br/>
  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>