<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

<mat-card fxFlex="20" fxFlex.lg="15%" fxFlex.md="14%" fxFlex.sm="65%" fxFlex.xs="90%" style="box-shadow: none;">
  <a (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')" style="cursor: pointer;">
    <img mat-card-image src="./assets/images/nomads/donna_maya.jpg" alt="image"> 
  </a>
</mat-card>
<mat-card-header>
</mat-card-header>
<mat-card-content fxFlex="72" fxFlex.lg="69%" fxFlex.md="64%" fxFlex.sm="95%" fxFlex.xs="100%">
  <div fxLayoutAlign="start"
        fxLayout="row">
    <div fxFlex="15%"
          fxFlex.md="20%"
          fxFlex.sm="30%"
          fxFlex.xs="35%" >
      Artist:
    </div>
    <div fxFlex="85%"
          fxFlex.md="80%"
          fxFlex.sm="70%"
          fxFlex.xs="65%"
          style="font-size: 1.15em">
      Donna Maya
    </div>
    </div>

    <div fxLayoutAlign="start"
        fxLayout="row">
    <div fxFlex="15%"
        fxFlex.md="20%"
        fxFlex.sm="30%"
        fxFlex.xs="35%">
      Song:
    </div>
    <div fxFlex="85%"
        fxFlex.md="80%"
        fxFlex.sm="70%"
        fxFlex.xs="65%"
          style="font-size: 1.15em">
      Live Terminal
    </div>
    </div>

    <div fxLayoutAlign="start"
      fxLayout="row">
    <div fxFlex="15%"
        fxFlex.md="20%"
        fxFlex.sm="30%"
        fxFlex.xs="35%">
    Album:
    </div>
    <div fxFlex="85%"
        fxFlex.md="80%"
        fxFlex.sm="70%"
        fxFlex.xs="65%"
        style="font-size: 1.15em;cursor: pointer;"
        (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')">
    Nomads in Sound 4
    </div>
    </div>

    <div fxLayoutAlign="start"
    fxLayout="row">
    <div fxFlex="15%"
        fxFlex.md="20%"
        fxFlex.sm="30%"
        fxFlex.xs="35%">
    Home Page:
    </div>
    <div fxFlex="85%"
        fxFlex.md="80%"
        fxFlex.sm="70%"
        fxFlex.xs="65%"
      style="font-size: 1.15em;cursor: pointer;"
      (click)="onClick('https://soundcloud.com/donnamaya')">
      Soundcloud
    </div>
    </div>

    <div fxLayoutAlign="start"
    fxLayout="row">
    <div fxFlex="15%"
        fxFlex.md="20%"
        fxFlex.sm="30%"
        fxFlex.xs="35%">
    Social Media:
    </div>
    <div fxFlex="85%"
        fxFlex.md="80%"
        fxFlex.sm="70%"
        fxFlex.xs="65%"
      style="font-size: 1.15em">
    Twitter, Instagram, Facebook
    </div>
  </div>

  <div fxLayoutAlign="start"
    fxLayout="row"
    fxHide.lg
    fxHide.md
    fxHide.sm
    fxHide.xs
    style="margin-top: 15px;">
    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=108535965/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=none/transparent=true/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/come-ruff">Come Ruff by Aimnbreak</a></iframe>
    </div>

    <div fxLayoutAlign="start"
    fxLayout="row"
    fxHide.xl
    fxHide.md
    fxHide.sm
    fxHide.xs
    style="margin-top: 15px;">
    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=108535965/size=small/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/come-ruff">Come Ruff by Aimnbreak</a></iframe>
    </div>

</mat-card-content>

<div fxFlex="100%"
fxHide.xl
fxHide.lg
style="margin-bottom: 15px;">
<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=108535965/size=small/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/come-ruff">Come Ruff by Aimnbreak</a></iframe>
</div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>How would you describe your musical background?</h5>

      I am heavily influenced from the Jamaican sound system culture that I first experienced in London. 
      In the late 1980s I attended a sound system clash during the Nottinghill carnival at Broadwater 
      farm, shortly after the riots, and was completely flashed by it. I will never forget the heavy bass that
      shook your nostrils so you could barely breath, the intense atmosphere created by the djs, who 
      shortly played a track for a few seconds before spinning it back and starting the next one, the 
      explosion when they finally played one track till the end, the air, that got condensed by the heated 
      bodies so it dropped like rain from the ceiling….From that day on I got addicted to BASS.
  </span>
  </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>

      I am always on a journey into music and discover new sounds. First I got hooked by Jamaican 
      Dance Hall, but also listened a lot to Ska and Rock Steady tunes. Shortly after, early Hip Hop made 
      it´s way to Europe. From that I discovered Funk and Soul and dived into Rare Groove. I got really 
      kicked by Jungle and Drum´n´Bass while also listening to Detroit Techno. That brought me deeper 
      and deeper into the electronic music cosmos where I discovered early pioneers of electronic music, 
      such as Delia Derbyshire, Daphne Oram and Elaine Radique and more. So for me its an ongoing 
      process, a never ending expedition into music that shaped me and always brought new flavor into 
      my thoughts about music, musical concepts and how to compose.
      
  </span>
  </p> 
  </div>
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>

        My first release in 1994 was an important personal milestone for my musical development. That 
        time I was invited to produce one kind of underground Hip Hop track I did in a very well-known 
        studio with a famous producer. When I re-recorded the track in the studio it somehow did not sound
        as well as my original version made on a 4-track tape recorder. When the producer asked me how I 
        did it and what kind of EQ and compression I used I had no glue what he was talking about because
        on that times I tweaked everything as long as it sounded right for me. So I could not explain at all 
        and felt so stupid that I sworn to myself that I will never get in such a situation again. So I started to
        study audio engineering, got a diploma and went to New York to work at Unique Recording, one of 
        the biggest studios of the city, located at Times Square.

        <br/><br/>
        The next milestone was the album “Murder Beats Vol. 1”, that I did together with my dj partner 
        Donna Neda with whom I formed the dj-collective “Die Patinnen Teil 2” (The Godmothers Part 2). 
        This album got released in 1998 and was pure electronic. We musically told an imaginary story of 
        the Godmothers and our business experiences in the clubs of Hamburg St. Pauli. We also took 
        musically revenge to everyone who treated us not the way we deserved :)

        <br/><br/>

        After that I did much collaborative works, remixes and single releases. The main milestone for 
        myself is my first solo album release in 2020 called “Lost Spaces → Detroit”. Detroit is in my 
        opinion a perfect example for what capitalism does to a social environment when cultural values 
        where given up. I used self-made field recordings captured from various locations that wrote 
        industrial and cultural history in Detroit City and fusing them with crisp electronic sounds with a 
        slightly dystopian vibe. The album questioned our relationship to cultural values, what we are 
        willing to gave up and what we defend to preserve. A journey into experimental electronics with 
        Theremin. 
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>

        Due to the pandemic situation I had to cancel the release tour for my current album “Lost Spaces →
        Detroit”. Because of that I decided to create out of the album tracks a multi-channel audio 
        installation combined with visuals to present the album in galleries or in different venues that will 
        be hopefully open up soon.

        <br/><br/>

        With my theremin I can create any tone that is possible within a range of about 7 octaves, I more 
        and more think about how to expand our tonal system to compose music that opens up new sound 
        dimensions detached from our tonal scale system, beyond traditional musical boarders as our tonal 
        scale system, but understanding it as a whole.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>
        
        Doing music, being on stage and create special experiences for others that points on social and 
        political topics which I feel that they are important to make a change in society.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        
        The tracks is dedicated to the anniversary of Meerkat recordings. Its about individuals, as meerkats, 
        that build a collective to be successful together. The track starts with few water sounds and drops, 
        self-recorded around a river flooding into the Atlantic ocean after a severe storm, that condense 
        more and more to become an ocean like fluid that is able to dictate its own rhythm to its 
        environment and make it move.
    </span>
    </p> 
  </div>

  <br/>
  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>