<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

<div class="card mb-2 border-0" fxFlex="100%">
  <div class="row no-gutters">
    <div class="col-md-3 mb-2 mt-0" style="padding-top: 0;padding-left: 0;padding-right: 25px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition')">
      <img src="./assets/images/nomads/ombudsman.jpg" class="card-img" alt="..." style="max-width: 300px;max-height: 100%;" fxHide.xs>
      <img src="./assets/images/nomads/ombudsman.jpg" class="card-img" alt="..." style="max-width: 100%;max-height: 100%;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
    </div>
    <div class="col-md-9">
      <div class="card-body" style="max-width: 1040px;padding-top: 0;padding-left: 0;padding-right: 0;">

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Artist:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Ombudsman
            </p>
            <p style="font-size: 1.1em;margin-bottom: 5px;text-align:center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <strong>
              Ombudsman
              </strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Song:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Petroleum Ann
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              Petroleum Ann
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Album:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition')" fxHide.xs>Nomads in Sound 4 - Burrow Edition</p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition')" fxHide.xl fxHide.lg fxHide.md fxHide.sm><small>Nomads in Sound 4 - Burrow Edition</small></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Home Page:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/ombudsmanofficial')" fxHide.xs>
                soundcloud.com/ombudsmanofficial
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/ombudsmanofficial')" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                soundcloud.com/ombudsmanofficial
              </small>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Social Media:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Twitter, Instagram, Facebook
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                Twitter, Instagram, Facebook
              </small>
            </p>
          </div>
        </div>

        <iframe 
          fxHide.md
          fxHide.sm
          fxHide.xs 
          style="border: 0; width: 100%; height: 120px;margin-top: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=680881785/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/tracklist=false/tracks=419316870/esig=4cd91f459a70ac0450b1c97cfd5e6104/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition">Nomads in Sound 4 - Burrow Edition by Ombudsman</a>
      </iframe>

      </div>
    </div>
  </div>
</div>

<iframe 
fxHide.xl
fxHide.lg
style="border: 0; width: 100%; height: 120px;margin-bottom: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=680881785/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/tracklist=false/tracks=419316870/esig=4cd91f459a70ac0450b1c97cfd5e6104/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition">Nomads in Sound 4 - Burrow Edition by Ombudsman</a>
</iframe>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>How would you describe your musical background?</h5>

      A long time ago I actually had plans to become a concert pianist. Well, I don’t think I could uphold the work ethics for that kind of position. Also whenever I get 
      interested in a subject I’m quite keen on going into the mechanics behind it. Coming from a classical piano background and listening to quite a lot of electronic 
      dance music it was quite natural to get into synthezisers and try to learn how to make unusual sounds.

      <br/><br/>

      I’ve learned a few other instruments on the way, and tried to work towards different genres of music. Although I think I have a natural tendency to misunderstand some 
      fundamental conventions in every genre I approach. It’s usually fine, because I personally find the dogmatic approach quite uninspiring. Then again it’s not always about 
      inspiration, sometimes you just want to get the pure adrenalin rush, and who then cares if you’ve filtered 808-kicks for fourteen hours while connecting a Buchla module to 
      the tip of you penis?      
  </span>
  </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>

      I’m still quite inspired by classical music. Old french farts such as Debussy, Ravel, Satie and some of the crazy Russian composers from the late 19th/early 20th century. 
      It’s a nice musical era when every concept was being expanded on; harmony, melody, rythms etc.

      <br/><br/>

      I am of course quite inspired by quite a lot of the old Warp artists. They released some really good ”smatterbands”-techno, and some really good pop-experimental electronic 
      music. I get a feeling that electronic music was allowed to be fun when they started out, and nowdays it’s more about sounding slick and polished. I really like artists like 
      Spinform/Unai and Clark for being able to combine well made productions with really beautiful music. That’s what inspires me most when it comes to electronic music today, 
      beautiful stuff that makes you want to dance. 

      <br/><br/>

      I’m quite into hiphop, or derivatives of hiphop. Like the beat scenes that were quite prominent in the mid 2000. I found it weird that this never really seemed to take off h
      ere in Sweden. I think the electronic music scene that get attention here in Sweden is really boring actually.  Lots of people wearing  Brian Enos ”runkelektronika”-glasses 
      using old acid xox-machines and looking back on something that they believe is more authentic. 
  </span>
  </p> 
  </div>
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>

        I believe releasing my album Sentiment on Meerkats Records in a way was a milestone. At least the way that album was structured and written it was sort of a more free 
        approach for me on what my music was about. 

        <br/><br/>

        Quite often when you discard conventions and aesthetics it quickly gets weird, and not always in a good way. It’s good to have a filter but it takes some work to know 
        when to turn it on or off. 
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>

        Well, I’ve had quite a low key period from releasing music the last couple of years. Perhaps it’s just adjusting to the new formats of listening. I grew up 
        (no need for 'on')   listening to albums. And actually listening. It was something you could do as an active activity and not as a passive part of your connected 
        lifestyle. And in that sense releasing music into the world seems less urgent. 
        <br/><br/>

        I’ve been working quite a lot with this artist named Kristina Abelli Erlander. I’ve made quite a lot of music that she can pick and choose from, which is nice because I 
        like my music to be put in a framework where it’s not completely under my control. 

        <br/><br/>

        The last year I’ve been really inspired by this Russian composer named Scriabin. Playing through his piano sonatas while on parental leave. I’ve also been really into this 
        style of dancing called Strutting, or Steppin’, which sprung out in the 70’s around California. Especially groups like Medea Sirkas who dances to really heavy, and speed up, 
        Electro. 
      </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>
        
        Being something of an introverted exhibitionist I would say I really like when people hear my music, but I’m not that keen on playing it live. But it’s mainly that the 
        way my music is made is really not that transferable to a live setting. Sure I sometimes go all Jackson Pollock in the studio, just throwing sounds around, and sometimes 
        it actually ends up being something quite beautiful. But that’s what I would like to have all the time in a live situation. 

        <br/><br/>

        I really love learning new instruments, and new things. I always imagine I’d be really good at different instruments, which I never am of course. One day I might find the 
        right instrument that doesn’t require me to put in any practice hours. I assume it’ll be the most boring experience ever for me…        
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        
        Well, the nomadic aspect is both utopian in freedom and dystopian in terms of disconnect from society as we know it. I was quite intrigued to work on these contrast soft 
        calm and serene against fast paced rythms. Glooming doom and cosiness. I like the idea of making music for a post apocalyptic society. Like the generators are on and people 
        are using the last bit of fuel to power up a giant party.

        <br/><br/>

      Taking the word Nomad quite literally I found out through this project that the thing that really gets me going in the creative work is not really knowing where I’d end up. 
      It’s not about getting to a finished song that complies to this and that mental picture or even genre of music. Rather it’s starting from a vision and then going through 
      sets of revisions and see what musical landscape you’ve ended up in. 
    </span>
    </p> 
  </div>

  <br/>
  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>