<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

<div class="card mb-2 border-0" fxFlex="100%">
  <div class="row no-gutters">
    <div class="col-md-3 mb-2 mt-0" style="padding-top: 0;padding-left: 0;padding-right: 25px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')">
      <img src="./assets/images/nomads/kingl_man.jpg" class="card-img" alt="..." style="max-width: 300px;max-height: 100%;" fxHide.xs>
      <img src="./assets/images/nomads/kingl_man.jpg" class="card-img" alt="..." style="max-width: 100%;max-height: 100%;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
    </div>
    <div class="col-md-9">
      <div class="card-body" style="max-width: 1040px;padding-top: 0;padding-left: 0;padding-right: 0;">

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Artist:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              King L Man
            </p>
            <p style="font-size: 1.1em;margin-bottom: 5px;text-align:center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <strong>
              King L Man
              </strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Song:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Adaptor
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              Adaptor
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Album:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')" fxHide.xs>Nomads in Sound 4</p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')" fxHide.xl fxHide.lg fxHide.md fxHide.sm><small>Nomads in Sound 4</small></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Home Page:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/user-433633173-135697896')" fxHide.xs>
                soundcloud.com/user-433633173-135697896
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/user-433633173-135697896')" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                soundcloud.com/user-433633173-135697896
              </small>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Social Media:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Twitter, Instagram, Facebook
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                Twitter, Instagram, Facebook
              </small>
            </p>
          </div>
        </div>

        <iframe 
          fxHide.md
          fxHide.sm
          fxHide.xs 
          style="border: 0; width: 444px; height: 120px;margin-top: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=680881785/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/tracklist=false/tracks=2208535901/esig=3c00d058ea3a9ff665f735acf4894365/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition">Nomads in Sound 4 - Burrow Edition by King L Man</a>
      </iframe>

      </div>
    </div>
  </div>
</div>

<iframe 
fxHide.xl
fxHide.lg
style="border: 0; width: 100%; height: 42px;margin-bottom: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=108535965/size=small/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/come-ruff">Come Ruff by Aimnbreak</a>
</iframe>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>How would you describe your musical background?</h5>

      Whoa, okay, we best go for the short version.....Apparently I was really captured by The Beatles as a three-four year-old, and when asked what my name was I replied "Paul". 
      It's kind of weird since I don't have a single Beatles record in my collection, nor do I remember ever having one.
      I was give a crystal radio set as a kit, and I had to put it together.  I found the newly formed BBC Radio 1 station and was enthralled by being able to capture radio waves. 
       My Mum and Dad had records naturally, and one early memory is of my Mum buying me a cassette player and a cassette of Jimi Hendrix.  I wore them out.
      
  </span>
  </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>

      I was mad heavy into Parliament / Funkadelic, how many records did they put out under all the various guises? Over 100 no?
      I used to have a cassette that had Mark Stewart + The Maffia's "As The Veneer of Democracy Starts to Fade" on one side, and on the other was "Yo, Bum Rush The Show" by 
      Public Enemy.  It was the sonics and words, messages of those two projects that really resonated. I didn't know you could do the kinds of things they did, it was pure 
      musical freedom. Those two hit me hard, On-U Sound and P.E.
  </span>
  </p> 
  </div>
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>

        Back in the day, I would create Pause-Button Edits on my BFR (Big Fuckin' Radio) aka GhettoBlaster, I continued doing that type of editing when I joined Fun-da-Mental. 
        I brought tape edits into the studio for my first contributions to their records.  Only recently I found out that some of the first tunes by Public Enemy and A Tribe Called 
        Quest featured tracks that Chuck D and Q-Tip had started as Pause-Button Edits/Loops before they actually started their respective groups!

        <br/><br/>

        I DJ'd with Rich McLean aka DJ Overhaul, and we'd throw everything into the mix, we'd have three turntables, a cassette and a couple CD players, so we could ram it up. We also 
        made one track as The Nation World Service for a Nation-label compilation that had like 70 samples in it - you would know the track if you ever watched the early episodes of Kobra, 
        which they never paid us for, fuckers!
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>

        As you know, I've just finished the KingL Man album, 'Headonix', so I'm gonna start on the Instrumental / Remixes version, and also have to get back to finishing the 
        music for a project called 'M' for a dancer/singer from Tenerife called Élida Dorta.  It started out as a performance piece, and has since expanded to a recording 
        project for a CD release.
        I've contributed to a compilation for Keroxen, our local festival here.  That track has Nick Page on it, and it's fuckin' dope as hell.

        <br/><br/>

        On another tip, there is a situation here in Tenerife with many migrants arriving in pateras (fishing boats)  from Senegal, Mali, Gambia, Morocco etc.  Something needs to 
        be done, so  we are trying to come up with a compilation to raise awareness and funds for things such as visits to the Dentist.  Two of the contributors to the 
        ´Headonix´album arrived in Tenerife on pateras, so time to payback.

        <br/><br/>

        Inspiration is coming from all ports, new and old producers, J.Dilla, Madlib, nature, the birds in the garden, rain drops hitting the bucket outside.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>
        
        Just being able to make the music, search for music and buy music.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        
        Most of my beats are hip hop tempo, around 70-105 bpm, and I felt it was time to do something out of that range, and something potentially for the dancefloor. I love 
        the energy of Jungle, DnB & Footwork but I don't have the technical knowledge right now to pull off that kind of sound, so I did the next best thing, come up with my 
        own take on the vibe.
    </span>
    </p> 
  </div>

  <br/>
  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>