<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>
  <div
    class="row"
    fxLayoutAlign="center"
    fxLayout="row"
    style="margin-bottom: 15px;"
  >
  <div class="col-md-2">
    <img
    src="./assets/images/nomads/nuphlo.jpg"
    alt="Photo of Nuphlo"
    class="image-blurred"
    style="width: 100%;height: auto;"
  />
  </div>
  <div class="col-md-10">
    <p style="padding-bottom: 15px;">
        <strong>
            <h3>Nuphlo/Miyagi</h3>
            <h5>"Neverland/Nectair"</h5>
        </strong>
    </p>
        <p style="padding-bottom: 15px;">
            <span>
            <h5>How would you describe your musical background?</h5>
            I started djing in the late 90s, and then began producing shortly after that. Early on i was making all tracks on an akai mpc 2000xl. I was at art college in Leeds with Dj Kidkanevil, he taught me the basics of how to use the mpc to sample and make beats. I have a degree in fine art and chose music technology as a side elective under Colin McGuire. 
        </span>
        </p> 
    </div>
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>
        Sample based music has always been influential to me, digging for samples and using them creatively.<br/><br/>
        My main inspirations have been from the 90s Asian underground movement. I try to make music which is a development of that. 
  </span>
  </p> 
  </div>
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>
        Having tunes played on the radio early on was motivating and inspiring.<br/><br/>
        Working and being mentored by artists like Ges-e, Osmani Soundz, Tony Thorpe and more recently John Rolodex have shaped my musical developent.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>
        I recently started a label along with some friends. The label is called Hundred Colours Music. The freedom to release music that I want is great.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>
        As well as music production I also enjoy oil painting. 
        I have a hectic and stressful work life, I feel lucky to have creative outlets in order to relax and de-stress.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        Like most of my tunes, I have contributed East-West flavoured tracks. Not too mild and not too spicy.
    </span>
    </p> 
  </div>

  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>