<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

<div class="card mb-2 border-0" fxFlex="100%">
  <div class="row no-gutters">
    <div class="col-md-3 mb-2 mt-0" style="padding-top: 0;padding-left: 0;padding-right: 25px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition')" fxHide.xs>
      <img src="./assets/images/nomads/hab.png" class="card-img" alt="..." style="max-width: 300px;max-height: 100%;">
    </div>
    <div class="col-md-3 mb-2 mt-0" style="padding-top: 0;padding-left: 0;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition')" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
      <img src="./assets/images/nomads/hab.png" class="card-img" alt="..." style="max-width: 100%;max-height: 100%;">
    </div>
    <div class="col-md-9">
      <div class="card-body" style="max-width: 1040px;padding-top: 0;padding-left: 0;padding-right: 0;">

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Artist:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              HAb
            </p>
            <p style="font-size: 1.1em;margin-bottom: 5px;text-align:center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <strong>
                HAb
              </strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Song:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Worlds (on fire)
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              Worlds (on fire)
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Album:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition')" fxHide.xs>Nomads in Sound 4 - Burrow Edition</p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition')" fxHide.xl fxHide.lg fxHide.md fxHide.sm><small>Nomads in Sound 4 - Burrow Edition</small></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Home Page:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/hab')" fxHide.xs>
                soundcloud.com/hab
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/hab')" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                soundcloud.com/hab
              </small>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Social Media:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Twitter, Instagram, Facebook
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                Twitter, Instagram, Facebook
              </small>
            </p>
          </div>
        </div>

        <iframe 
          fxHide.md
          fxHide.sm
          fxHide.xs 
          style="border: 0; width: 100%; height: 120px;margin-top: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=680881785/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/tracklist=false/tracks=3504795046/esig=8f749bfb7434d11eaab7f29b70d520f6/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition">Nomads in Sound 4 - Burrow Edition by HAb</a>
      </iframe>

      </div>
    </div>
  </div>
</div>

<iframe 
fxHide.xl
fxHide.lg
style="border: 0; width: 100%; height: 120px;margin-bottom: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=680881785/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/tracklist=false/tracks=3504795046/esig=8f749bfb7434d11eaab7f29b70d520f6/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition">Nomads in Sound 4 - Burrow Edition by HAb</a>
</iframe>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>How would you describe your musical background?</h5>


  </span>
  </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>


  </span>
  </p> 
  </div>
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>

        
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>

        
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>
        

    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        
        
    </span>
    </p> 
  </div>

  <br/>
  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>