<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

<div class="card mb-2 border-0" fxFlex="100%">
  <div class="row no-gutters">
    <div class="col-md-3 mb-2 mt-0" style="padding-top: 0;padding-left: 0;padding-right: 25px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition')" fxHide.xs>
      <img src="./assets/images/nomads/hab.png" class="card-img" alt="..." style="max-width: 300px;max-height: 100%;">
    </div>
    <div class="col-md-3 mb-2 mt-0" style="padding-top: 0;padding-left: 0;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition')" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
      <img src="./assets/images/nomads/hab.png" class="card-img" alt="..." style="max-width: 100%;max-height: 100%;">
    </div>
    <div class="col-md-9">
      <div class="card-body" style="max-width: 1040px;padding-top: 0;padding-left: 0;padding-right: 0;">

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Artist:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              HAb
            </p>
            <p style="font-size: 1.1em;margin-bottom: 5px;text-align:center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <strong>
                HAb
              </strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Song:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Worlds (on fire)
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              Worlds (on fire)
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Album:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition')" fxHide.xs>Nomads in Sound 4 - Burrow Edition</p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition')" fxHide.xl fxHide.lg fxHide.md fxHide.sm><small>Nomads in Sound 4 - Burrow Edition</small></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Home Page:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/hab')" fxHide.xs>
                soundcloud.com/hab
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/hab')" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                soundcloud.com/hab
              </small>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Social Media:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Twitter, Instagram, Facebook
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                Twitter, Instagram, Facebook
              </small>
            </p>
          </div>
        </div>

        <iframe 
          fxHide.md
          fxHide.sm
          fxHide.xs 
          style="border: 0; width: 100%; height: 120px;margin-top: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=680881785/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/tracklist=false/tracks=3504795046/esig=8f749bfb7434d11eaab7f29b70d520f6/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition">Nomads in Sound 4 - Burrow Edition by HAb</a>
      </iframe>

      </div>
    </div>
  </div>
</div>

<iframe 
fxHide.xl
fxHide.lg
style="border: 0; width: 100%; height: 120px;margin-bottom: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=680881785/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/tracklist=false/tracks=3504795046/esig=8f749bfb7434d11eaab7f29b70d520f6/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition">Nomads in Sound 4 - Burrow Edition by HAb</a>
</iframe>

<div>
  <p style="padding-bottom: 15px;">
    <span>
    <h5>How would you describe your musical background?</h5>

    Playful, deep, and melodic electronica with vague echoes of hip hop, drum&#39;n&#39;bass, ambient and
    techno under the name HAb.

    <br/><br/>

    I grew up during the 70&#39;s glam, punk and synth era and when I got my first guitar at 10, I started
    writing songs and forming bands. During our teens, we played at the nightclubs in Gothenburg and
    the surrounding areas.

    <br/><br/>

    In the late 80&#39;s I ended up in Stockholm after a couple of years of design studies in Paris. Played in
    different bands and made music with Fredrik Joelson and eventually the indie rock band Mouth was
    formed (which was signed with Warner/Telegram in Sweden and Reprise in the US).

    <br/><br/>

    In the early 90&#39;s, my fascination increased for electronically produced music. Inspiration came from
    the machines, everyday surrealism, art, technology, spirituality, mysticism, fantasy, futurism, club
    cultures etc. Through exploring electronic frequencies and rhythms I encountered HAb which
    resulted in the album maPOd, released on Dot 1997. 
</span>
</p> 
</div>

<!-- <div>
  <p style="padding-bottom: 15px;">
    <span>
    <h5>What is your main musical influence and/ or collective?</h5>

    The first of the material I produced in Brooklyn Swedish label, later renamed dotshop. Collaborations
    with then-Dot artist Krister Linder (of Tupilaq); our debut EPs for the label were among its first
    releases and helped garner Dot the attention that transformed the label into something of an
    overnight sensation. Later projects include Binger the Voyager with Fredrik Joelson and Kool Kojak
    /Al D Bomba (CD Sweet Taste of Nothing, Oxygen Music Works 1999) and soundscapes with Khim
    Efraimsson for the poetry koncept Broken Word / Johannes Anyuru &amp; Mercies May (CD Anatomy of a
    Dying Star, 2005). I have also made music for the Håkan Lidbo/ radio ström koncepts and
    compilations (what we are -music for alien civilizations, 2008) and (Precycling Namibia -The Music
    From The Future, 2010).
</span>
</p> 
</div> -->

<div>
  <p style="padding-bottom: 15px;">
      <span>
      <h5>Can you describe the main milestones in your earlier production/ projects?</h5>

      I collaborated with Krister Linder/Tupilaq on the track Pilaque on Alaskanlab 1995, Audio pollution
      (SW), and our debut EPs for Dot were among its first releases and helped garner Dot the attention
      that transformed the label into something of an overnight sensation. The HAb album MaPOd was
      released in 1997.

      <br/><br/>

      Later projects include &#39;Binger the Voyager&#39; with Fredrik Joelson and Kool Kojak (the album Sweet
      Taste of Nothing, Oxygen Music Works (US), 1999) and soundscapes with Khim Efraimsson for the
      poetry concept Broken Word / Johannes Anyuru &amp; Mercies May (the album Anatomy of a Dying Star,
      2005). I have also made music for the Håkan Lidbo radio Ström concepts and compilations; What we
      are -music for alien civilizations, 2008 and Precycling Namibia -The Music From The Future, 2010.

      <br/><br/>

      The most recent full-length HAb album &#39;Why release music on plastic&#39; for Kotangens records,
      Ukraine, was released in 2011. In 2012 HAb released the track Höst on Meerkat Recordings Nomads
      in Sound 03. The UNICEF-compilation project ’Born Into Madness’ 1, 2 &amp; 3, M.O.L Music on location
      Belgium 2018, 2019, 2020. The compilation ’Australian bushfire’ Tuched music (UK) 2020. And finally,
      the Meerkat recordings 10-year anniversary jubilee compilation 2021.
  </span>
  </p> 
</div>

<!-- <div>
  <p style="padding-bottom: 15px;">
      <span>
      <h5>Which are your current projects and what inspires you the most at the moment?</h5>

      My most recent album Hab on Kotangens records(2011) is a collection of both rhythmically stunning
      and melodically engaging post-techno, interweaving thin, intricately syncopated percussion with
      thematic figures that are given far more focus and development than is typical of even the most
      armchair-oriented of electronica. In 2021 I released the track Höst on Meerkat Recordings Nomads in
      Sound 03.
  </span>
  </p> 
</div> -->

<!-- <div>
  <p style="padding-bottom: 15px;">
      <span>
      <h5>Which are your greatest passions as an artist?</h5>
      
      I want to let music and life intertwine, keep my senses open to reality’s interventions and coincidences, and try to let music take me to 
      unexplored places physically, socially and mentally.   
  </span>
  </p> 
</div> -->

<div>
  <p style="padding-bottom: 15px;">
      <span>
      <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
      
      With the track Worlds (on fire), I believe that HAb wants to convey that not only life on this beautiful
      planet suffers from our irresponsible acts against nature, the oceans, the air, the animals, humanity,
      and the climate. Intergalactic life, other inner and outer worlds are also affected. In other words, we
      cause much more damage than we could even comprehend. We are in a paradigm shift, and I think
      HAb is here to help, comfort, perhaps raise our frequencies and consciousness.
  </span>
  </p> 
</div>

  <br/>
  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>