/*
 * Remove template code below
 */

:host {
  display: block;
  font-family: 'Titillium Web', sans-serif;
  min-width: 300px;
  max-width: 75%;
  margin: 15px auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

// ::ng-deep .search   {
//   text-align: center !important
// }
