<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
  integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt"
  crossorigin="anonymous"
/>

<header class="flex">
  <img
    class="flex-container"
    layout-align="center center"
    fxFlex="100%"
    fxFlex.xl="75%"
    fxFlex.lg="85%"
    src="./assets/images/site/logo.png"
    fxLayout="center"
    fxHide.xs
  />
  <img
    width="45%"
    src="./assets/images/site/mr_logo_round.jpg"
    fxHide.xl
    fxHide.lg
    fxHide.md
    fxHide.sm
  />
  <!-- <h1>Welcome to {{ title }}!</h1> -->
</header>
<br />
<main>
  <meerkat-recordings-navbar></meerkat-recordings-navbar>
  <router-outlet></router-outlet>
</main>
