/*
 * Remove template code below
 */

:host {
  display: block;
  font-family: 'Titillium Web', sans-serif;
  min-width: 300px;
  max-width: 75%;
  margin: 15px auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

// ::ng-deep .search   {
//   text-align: center !important
// }

button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  font-size: 15px;
  color: white;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 40px;
  height: 40px;
}

button:focus {
  outline: 0px;
}

button:hover {
  background-color: #ff7e00;
  transform: scale(1.05);
}
