<ngx-spinner></ngx-spinner>

<div
  class="container"
  fxLayoutAlign={{fxFlexAlignProp}}
  fxLayout="row wrap"
  fxFlex="100%"
  fxLayout.xs="column"
  fxLayout.sm="row wrap"
  fxLayout.md="row wrap"
  fxLayout.lg="row wrap"
  fxFill
>
  <mat-card
    *ngFor="let artist of filteredArtists"
    fxFlex.xs="90%"
    fxFlex.sm="46.0%"
    fxFlex.md="30.0%"
    fxFlex.lg="22.3%"
    fxFlex.xl="17.5%"
    [ngStyle]="setStyle()"
  >
    <img
      mat-card-image
      src="{{ artist.img }}"
      alt="Photo of {{ artist.name }}"
    />

    <div layout="row" layout-align="start start" style="text-align: center;">
      <p class="artist">{{ artist.name }} <br /></p>
    </div>

    <div class="description" layout="row" layout-align="start start">
      <p>
        {{ artist.description }}
      </p>
    </div>

    <p class="title" *ngIf="artist.releases">Releases:</p>
    <div
      *ngIf="artist.releases"
      style="flex-direction: row; box-sizing: border-box; /*! display: flex; */"
    >
      <button
        mat-flat-button
        (click)="openDialog(release.id)"
        *ngFor="let release of artist.releases"
        fxFlex="20%"
      >
        <img
          alt="Avatar"
          class="avatar"
          src="{{ release.img }}"
          alt="Photo of {{ release.name }}"
        />
      </button>
    </div>

    <p class="title" *ngIf="artist.features">Featured on:</p>
    <div
      *ngIf="artist.features"
      style="flex-direction: row; box-sizing: border-box; /*! display: flex; */"
    >
      <button
        mat-flat-button
        (click)="openDialog(feature.id)"
        *ngFor="let feature of artist.features"
        fxFlex="20%"
      >
        <img
          alt="Avatar"
          class="avatar"
          src="{{ feature.img }}"
          alt="Photo of {{ feature.name }}"
        />
      </button>
    </div>

    <mat-card-content></mat-card-content>

    <mat-card-actions style="text-align: center;">
      <button mat-button (click)="onClick(artist.url)">
        Artist on Soundcloud
      </button>
    </mat-card-actions>
  </mat-card>
</div>
