<ngx-spinner></ngx-spinner>

<div
  class="flex-container"
  fxLayoutAlign="space-between stretch"
  fxLayout="row wrap"
  fxFlex="100%"
  fxLayout.xs="column"
>
  <mat-card
    *ngFor="let artist of artists$"
    fxFlex.xs="100%"
    fxFlex.sm="48%"
    fxFlex.md="32%"
    fxFlex.lg="24.3%"
    fxFlex.xl="19.5%"
  >
    <mat-card-header style="padding-bottom: 10px;">
      <img mat-card-avatar src="{{ artist.img }}" />
      <mat-card-title>{{ artist.name }}</mat-card-title>
      <br />
    </mat-card-header>

    <img
      mat-card-image
      src="{{ artist.img }}"
      alt="Photo of {{ artist.name }}"
      (click)="onClick(artist.url)"
    />

    <div class="description" layout="row" layout-align="start start">
      <p>
        {{ artist.description }}
      </p>
    </div>

    <p class="title" *ngIf="artist.releases">Releases:</p>
    <div
      *ngIf="artist.releases"
      style="flex-direction: row; box-sizing: border-box; /*! display: flex; */"
    >
      <button
        mat-flat-button
        (click)="onClick(release.url)"
        *ngFor="let release of artist.releases"
        fxFlex="20%"
      >
        <img
          alt="Avatar"
          class="avatar"
          src="{{ release.img }}"
          alt="Photo of {{ release.name }}"
        />
      </button>
    </div>

    <p class="title" *ngIf="artist.features">Featured on:</p>
    <div
      *ngIf="artist.features"
      style="flex-direction: row; box-sizing: border-box; /*! display: flex; */"
    >
      <button
        mat-flat-button
        (click)="onClick(feature.url)"
        *ngFor="let feature of artist.features"
        fxFlex="20%"
      >
        <img
          alt="Avatar"
          class="avatar"
          src="{{ feature.img }}"
          alt="Photo of {{ feature.name }}"
        />
      </button>
    </div>

    <mat-card-content></mat-card-content>
  </mat-card>
</div>
