<ngx-spinner></ngx-spinner>

<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

<div class="card border-0" fxFlex="100%">
  <div class="row no-gutters">
    <div class="col-md-3 mb-2 mt-0" style="padding-top: 0;padding-left: -12px;padding-right: 5px;cursor: pointer;" fxHide.xs>
      <img src="./assets/images/nomads/nomads_in_sound_4.png" class="card-img" alt="..." style="max-width: 285px;max-height: 100%;" (click)="onClickNew('https://meerkatrecordings.bandcamp.com/')">
    </div>
    <div class="col-md-3 mb-2 mt-0" style="padding-top: 0;padding-left: 0;cursor: pointer;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
      <img src="./assets/images/nomads/nomads_in_sound_4.png" class="card-img" alt="..." style="max-width: 100%;max-height: 100%;" (click)="onClickNew('https://meerkatrecordings.bandcamp.com/')">
    </div>
    <div class="col-md-9">
      <div class="card-body" style="max-width: 850px;padding-top: 0;padding-left: 0;padding-right: 0;">
        <h3 class="card-title" style="margin-bottom: 15px;">From the Peruvian Andes to the Asian Underground</h3>

        <h5 class="card-text">Meerkat Recording’s 10 yr anniversary compilation, Nomads in Sound 04</h5>

        <p style="font-size: 0.95rem;padding-top: 10px;" class="card-text" fxHide.sm fxHide.xs>Stockholm based label Meerkat Recordings celebrates 10 years of dedication to the dub/bass/d&b/breakbeat continuum. With the Nomads 04 compilation, we 
          follow the meerkats trails between steppes and burrows: in urgency, contemplation and collective action. The Meerkats have invited their favourite artists based in the UK, 
          France, Peru, Germany, Sweden and the Canaries – with influences ranging from the Peruvian Andres to the Asian Underground. BASS is the common foundation on the journeys of 
          the contributing artists.
        </p>

        <span style="display: table-row;vertical-align: bottom;" fxHide.xs>
          <span style="font-size: 1.1em;">Nomads in Sound 4: </span>
          <span style="font-size: 1.1em;cursor: pointer;" (click)="onClickNew('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition')">
            Steppe Edition
          </span>
          <span> | </span>
          <span style="font-size: 1.1em;cursor: pointer;" (click)="onClickNew('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-burrow-edition')">
            Burrow Edition
          </span>
        </span>
        
          <p style="display: table-row;vertical-align: bottom;" class="card-text" fxHide.md fxHide.sm fxHide.xs>
          <small style="display: table-row;vertical-align: bottom;" class="text-muted">Release Date: digital: 11 nov 2021 (vinyl release: Feb 2022)<br>
          Release party: at Time Bar in Stockholm, Thursday 11 November 2021</small>
        </p>
      </div>
    </div>
  </div>
</div>

<p style="font-size: 1.0em;margin-top: 5;" fxHide.xl fxHide.lg fxHide.md>Stockholm based label Meerkat Recordings celebrates 10 years of dedication to the dub/bass/d&b/breakbeat continuum. With the Nomads 04 compilation, we follow the meerkats 
  trails between steppes and burrows: in urgency, contemplation and collective action. The Meerkats have invited their favourite artists based in the UK, France, Peru, Germany, 
  Sweden and the Canaries – with influences ranging from the Peruvian Andres to the Asian Underground. BASS is the common foundation on the journeys of the contributing artists. </p>

<i style="font-size: 0.9em;margin-top: 2;" fxHide.xl fxHide.lg fxHide.md>
  Release Date: digital: 11 nov 2021 (vinyl release: Feb 2022)<br>
  Release party: at Time Bar in Stockholm, Thursday 11 November 2021<br/>
</i>

  <p style="margin-top: 15px;">
    Contributing artists: (in alphabetical order)
  </p>

  <div
  fxLayoutAlign={{fxFlexAlignProp}}
  fxLayout="row wrap"
  fxFlex="100%"
  fxLayout.xs="column"
  fxLayout.sm="row wrap"
  fxLayout.md="row wrap"
  fxLayout.lg="row wrap"
  fxFill
>
  <mat-card
    *ngFor="let artist of filteredArtists"
    fxFlex.xs="90%"
    fxFlex.sm="47.0%"
    fxFlex.md="31.0%"
    fxFlex.lg="23.3%"
    fxFlex.xl="18.5%"
    [ngStyle]="setStyle()"
  >
  <a (click)="onClick(artist.url)" style="cursor: pointer;">
    <img
      mat-card-image
      src="{{ artist.img }}"
      alt="Photo of {{ artist.name }}"
    />
  </a>

    <div layout="row" layout-align="start start" style="text-align: center;">
      <p class="artist">{{ artist.name }} <br /></p>
      <p class="song">
        <i>"{{ artist.song }}"</i> <br />
      </p>
    </div>

    <div class="description" layout="row" layout-align="start start" style="text-align: center;">
      <p>
        {{ artist.description }}
      </p>
    </div>

    <mat-card-content></mat-card-content>

    <mat-card-actions style="text-align: center;">
      <button mat-button (click)="onClick(artist.url)">
        Artist page
      </button>
    </mat-card-actions>
  </mat-card>
</div>


</div>