<ngx-spinner></ngx-spinner>

<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

<div fxHide.sm fxHide.xs>
<mat-card fxFlex="20" fxFlex.lg="15%" fxFlex.md="18%" fxFlex.sm="85%" fxFlex.xs="95%" style="box-shadow: none;margin-bottom: 0px">
  <a (click)="onClick('https://meerkatrecordings.bandcamp.com/')" style="cursor: pointer;">
    <img mat-card-image src="./assets/images/nomads/nomads_in_sound_4.jpg" alt="image"> 
  </a>
</mat-card>
<mat-card-header>
</mat-card-header>
<mat-card-content style="margin-top: -15px;">
  <p style="font-size: 2.0em;margin-top: 0;margin-bottom: 0;" fxHide.md fxHide.sm fxHide.xs>From the Peruvian Andes to the Asian Underground</p>
  <p style="font-size: 2.4em;margin-top: 0;margin-bottom: 0;" fxHide.xl fxHide.lg>From the Peruvian Andes to the Asian Underground</p>

  <p style="font-size: 1.42em;margin-top: 0;" fxHide.md fxHide.sm fxHide.xs>Meerkat Recording’s 10 yr anniversary compilation, Nomads in Sound 04</p>
  <p style="font-size: 1.7em;margin-top: 0;" fxHide.xl fxHide.lg>Meerkat Recording’s 10 yr anniversary compilation, Nomads in Sound 04</p>

  <p style="font-size: 1.1em;margin-top: 2;" fxHide.md fxHide.sm fxHide.xs>Stockholm based label Meerkat Recordings celebrates 10 years of dedication to the dub/bass/d&b/breakbeat continuum. With the Nomads 04 compilation, we follow the meerkats 
    trails between steppes and burrows: in urgency, contemplation and collective action. The Meerkats have invited their favourite artists based in the UK, France, Peru, Germany, 
    Sweden and the Canaries – with influences ranging from the Peruvian Andres to the Asian Underground. BASS is the common foundation on the journeys of the contributing artists. </p>

    <p style="font-size: 1.4em;margin-top: 2;" fxHide.xl fxHide.lg>Stockholm based label Meerkat Recordings celebrates 10 years of dedication to the dub/bass/d&b/breakbeat continuum. With the Nomads 04 compilation, we follow the meerkats 
      trails between steppes and burrows: in urgency, contemplation and collective action. The Meerkats have invited their favourite artists based in the UK, France, Peru, Germany, 
      Sweden and the Canaries – with influences ranging from the Peruvian Andres to the Asian Underground. BASS is the common foundation on the journeys of the contributing artists. </p>

  <i style="font-size: 1.0em;margin-top: 2;" fxHide.md fxHide.sm fxHide.xs>
    Release Date: digital: 11 nov 2021 (vinyl release: Feb 2022)<br>
    Release party: at Time Bar in Stockholm, Thursday 11 November 2021
</i>
</mat-card-content>
</div>

<p style="font-size: 1.4em;margin-bottom: 0;" fxHide.xl fxHide.lg fxHide.md>From the Peruvian Andes to the Asian Underground</p>

<p style="font-size: 1.1em;margin-top: 0;" fxHide.xl fxHide.lg fxHide.md>Meerkat Recording’s 10 yr anniversary compilation, Nomads in Sound 04</p>

<img fxHide.xl fxHide.lg fxHide.md
src="./assets/images/nomads/nomads_in_sound_4.jpg"
fxFlex="65%"
fxLayoutAlign="center center"
class="image-blurred"
style="padding-bottom: 15px;"
/>

<p style="font-size: 1.0em;margin-top: 5;" fxHide.xl fxHide.lg fxHide.md>Stockholm based label Meerkat Recordings celebrates 10 years of dedication to the dub/bass/d&b/breakbeat continuum. With the Nomads 04 compilation, we follow the meerkats 
  trails between steppes and burrows: in urgency, contemplation and collective action. The Meerkats have invited their favourite artists based in the UK, France, Peru, Germany, 
  Sweden and the Canaries – with influences ranging from the Peruvian Andres to the Asian Underground. BASS is the common foundation on the journeys of the contributing artists. </p>

<i style="font-size: 0.9em;margin-top: 2;" fxHide.xl fxHide.lg fxHide.md>
  Release Date: digital: 11 nov 2021 (vinyl release: Feb 2022)<br>
  Release party: at Time Bar in Stockholm, Thursday 11 November 2021<br/>
</i>

  <p style="margin-top: 15px;" fxHide.xl fxHide.lg fxHide.md>
    Contributing artists: (in alphabetical order)
  </p>

  <p fxHide.xs fxHide.sm>
    Contributing artists: (in alphabetical order)
  </p>

  <div
  fxLayoutAlign={{fxFlexAlignProp}}
  fxLayout="row wrap"
  fxFlex="100%"
  fxLayout.xs="column"
  fxLayout.sm="row wrap"
  fxLayout.md="row wrap"
  fxLayout.lg="row wrap"
  fxFill
>
  <mat-card
    *ngFor="let artist of filteredArtists"
    fxFlex.xs="90%"
    fxFlex.sm="47.0%"
    fxFlex.md="31.0%"
    fxFlex.lg="23.3%"
    fxFlex.xl="18.5%"
    [ngStyle]="setStyle()"
  >
  <a (click)="onClick(artist.url)" style="cursor: pointer;">
    <img
      mat-card-image
      src="{{ artist.img }}"
      alt="Photo of {{ artist.name }}"
    />
  </a>

    <div layout="row" layout-align="start start" style="text-align: center;">
      <p class="artist">{{ artist.name }} <br /></p>
      <p class="song">
        <i>"{{ artist.song }}"</i> <br />
      </p>
    </div>

    <div class="description" layout="row" layout-align="start start" style="text-align: center;">
      <p>
        {{ artist.description }}
      </p>
    </div>

    <mat-card-content></mat-card-content>

    <mat-card-actions style="text-align: center;">
      <button mat-button (click)="onClick(artist.url)">
        Artist page
      </button>
    </mat-card-actions>
  </mat-card>
</div>


</div>