<ngx-spinner></ngx-spinner>

<div
  class="container"
  fxLayoutAlign={{fxFlexAlignProp}}
  fxLayout="row wrap"
  fxFlex="100%"
  fxLayout.xs="column"
  fxLayout.sm="row wrap"
  fxLayout.md="row wrap"
  fxLayout.lg="row wrap"
  fxFill
>
  <mat-card
    *ngFor="let release of releases | filter: filter"
    fxFlex.xs="90%"
    fxFlex.sm="46.5%"
    fxFlex.md="30.5%"
    fxFlex.lg="22.8%"
    fxFlex.xl="18%"
  >
    <img
      mat-card-image
      src="{{ release.img }}"
      alt="Photo of {{ release.name }}"
    />

    <div layout="row" layout-align="start start" style="text-align: center;">
      <p class="artist">{{ release.artist }} <br /></p>
      <p class="release">
        <b>{{ release.name }}</b> <br />
      </p>
      <p class="date">
        <i>{{ release.date | amDateFormat: 'LL' }}</i>
      </p>
    </div>

    <mat-card-actions style="text-align: center;">
      <button mat-icon-button (click)="openDialog(release.id)" class="play">
        <i class="fa fa-play-circle" style="font-size: 2.1em;"></i><br />
      </button>
    </mat-card-actions>

    <mat-card-actions style="text-align: center;">
      <button mat-button (click)="onClick(release.url)">
        Release on Bandcamp
      </button>
    </mat-card-actions>
  </mat-card>
</div>
