@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

$primary-color: #2f4050; //#1C2B36 #002538  #2f4050 #293846
$primary-font: 'Raleway', sans-serif;

body {
  font-family: $primary-font;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
}

// .ext-content {
//   padding:50px;
//   margin:20px;
//   background-color: #FFF2E0;
// }
