<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

  <mat-card fxFlex="13" fxFlex.lg="15%" fxFlex.sm="65%" fxFlex.xs="80%" style="box-shadow: none;">
    <a (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')" style="cursor: pointer;">
      <img mat-card-image src="./assets/images/nomads/uzul.jpg" alt="image"> 
    </a>
  </mat-card>
  <mat-card-header>
  </mat-card-header>
  <mat-card-content fxFlex="70">
    <div fxLayoutAlign="start"
          fxLayout="row">
      <div fxFlex="15%"
            fxFlex.sm="30%"
            fxFlex.xs="20%" >
        Artist:
      </div>
      <div fxFlex="70%"
            fxFlex.sm="70%"
            fxFlex.xs="80%"
            style="font-size: 1.15em">
        Uzul
      </div>
      </div>

      <div fxLayoutAlign="start"
          fxLayout="row">
      <div fxFlex="15%"
            fxFlex.sm="30%"
            fxFlex.xs="20%">
        Song:
      </div>
      <div fxFlex="70%"
            fxFlex.sm="70%"
            fxFlex.xs="80%"
            style="font-size: 1.15em">
        Sub Oscillation
      </div>
      </div>

      <div fxLayoutAlign="start"
        fxLayout="row">
      <div fxFlex="15%"
          fxFlex.sm="30%"
          fxFlex.xs="20%">
      Album:
      </div>
      <div fxFlex="70%"
          fxFlex.sm="70%"
          fxFlex.xs="80%"
          style="font-size: 1.15em;cursor: pointer;"
          (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')">
      Nomads in Sound 4
      </div>
      </div>

      <div fxLayoutAlign="start"
      fxLayout="row">
      <div fxFlex="15%"
        fxFlex.sm="30%"
        fxFlex.xs="20%">
      Home Page:
      </div>
      <div fxFlex="70%"
        fxFlex.sm="70%"
        fxFlex.xs="80%"
        style="font-size: 1.15em;cursor: pointer;"
        (click)="onClick('https://soundcloud.com/')">
        Soundcloud
      </div>
      </div>

      <div fxLayoutAlign="start"
      fxLayout="row">
      <div fxFlex="15%"
        fxFlex.sm="30%"
        fxFlex.xs="20%">
      Social Media:
      </div>
      <div fxFlex="70%"
        fxFlex.sm="70%"
        fxFlex.xs="80%"
        style="font-size: 1.15em">
      Twitter, Instagram, Facebook
      </div>
    </div>

    <div fxLayoutAlign="start"
      fxLayout="row"
      fxHide.md
      fxHide.sm
      fxHide.xs
      style="margin-top: 15px;">
      <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=108535965/size=small/bgcol=ffffff/linkcol=0687f5/artwork=none/track=3120674145/transparent=true/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/come-ruff">Come Ruff by Aimnbreak</a></iframe>
      </div>

  </mat-card-content>

  <div fxFlex="99%"
  fxHide.xl
  fxHide.lg
  style="margin-bottom: 15px;">
  <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=108535965/size=small/bgcol=ffffff/linkcol=0687f5/artwork=none/track=3120674145/transparent=true/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/come-ruff">Come Ruff by Aimnbreak</a></iframe>
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>How would you describe your musical background?</h5>

      Live / Dj Producer & Bassmusic Addict.      
  </span>
  </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>

      I really like minimal & acid techno, dubstep trap music, dirty south, ulkbass. 
      Always looking for new trends !!      
  </span>
  </p> 
  </div>
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>

        Musician and activist for 25 years in bass music, I participated or initiated several projects, KALYLIVEDUB (Jarring Effects / Pias) one of the founding groups of the 
        dub scene in France with High tone (of which I was the singer before they started dub band).
        HYBRID SOUND SYSTEM (Sounds around) techno dub duo, which I started with the drummer from Kalylivedub and with whom I played in the rave party scene in the 2000s.
        UZULPROD (EXPRESSILLON / HAMMERBASS) hiphopnoise project created with Tit’o, the guitarist of PICORE. GRANIT (JFX LABS) techno dub duo with Molécule. 4GetMeNot 
        (Ukbass & Housebass side project ). At the same time, I continue my solo career under the name UZUL with which I released ten EPs with the labels EXPRESSILLON / 
        MEERKAT RECORDINGS / JARRING EFFECTS / ODG PROD / MALLABEL RECORDING / I.O.T RECORDS
        dub, then dubstep then trap and now in techno dub I have been playing live for 20 years.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>

        I Just released in May 2021 a new album "Evolve" on the famous label Jarring Effects (LYON / FR) and therefore I am dedicating myself to the development of my new live for the 
        postcovid tour !!!

        <br/><br/>

        Otherwise I am still hyper active in my new profession of trainer on my "Dub producer" training supported by Les escales Buissonnières and EMIL CENTER Which makes me the first 
        French Dub teacher!
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>

        Compose to play in live, live act is my passion in music !!!
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        
        I’m participating in this compilation because I have already released a track on this great label, managed with class by my Swedish friends Anna and Peter. That I 
        met at the Clandestino festival, on the lawn and in music!
    </span>
    </p> 
  </div>

  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>