<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

<div class="card mb-2 border-0" fxFlex="100%">
  <div class="row no-gutters">
    <div class="col-md-3 mb-2 mt-0" style="padding-top: 0;padding-left: 0;padding-right: 25px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')">
      <img src="./assets/images/nomads/paf.jpg" class="card-img" alt="..." style="max-width: 300px;max-height: 100%;" fxHide.xs>
      <img src="./assets/images/nomads/paf.jpg" class="card-img" alt="..." style="max-width: 100%;max-height: 100%;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
    </div>
    <div class="col-md-9">
      <div class="card-body" style="max-width: 1040px;padding-top: 0;padding-left: 0;padding-right: 0;">

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Artist:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              PhOniAndFlOrE
            </p>
            <p style="font-size: 1.1em;margin-bottom: 5px;text-align:center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <strong>
              PhOniAndFlOrE
              </strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Song:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Special Time
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              Special Time
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Album:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition')" fxHide.xs>Nomads in Sound 4 - Steppe Edition</p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition')" fxHide.xl fxHide.lg fxHide.md fxHide.sm><small>Nomads in Sound 4 - Steppe Edition</small></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Home Page:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/PhOniAndFlOrE')" fxHide.xs>
                soundcloud.com/PhOniAndFlOrE
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/PhOniAndFlOrE')" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                soundcloud.com/PhOniAndFlOrE
              </small>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Social Media:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Twitter, Instagram, Facebook
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                Twitter, Instagram, Facebook
              </small>
            </p>
          </div>
        </div>

        <iframe 
          fxHide.md
          fxHide.sm
          fxHide.xs 
          style="border: 0; width: 444px; height: 120px;margin-top: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=2592989262/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/tracklist=false/tracks=2294417693/esig=d99dd9df20bd2144b6a982cce28e2892/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition">Nomads in Sound 4 - Steppe Edition by PhOniAndFlOrE</a>
      </iframe>

      </div>
    </div>
  </div>
</div>

<iframe 
fxHide.xl
fxHide.lg
style="border: 0; width: 444px; height: 120px;margin-bottom: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=2592989262/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/tracklist=false/tracks=2294417693/esig=d99dd9df20bd2144b6a982cce28e2892/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition">Nomads in Sound 4 - Steppe Edition by PhOniAndFlOrE</a>
</iframe>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>How would you describe your musical background?</h5>

      Being a drummer, I wanted to produce my own sounds using the ableton software. After meeting N-Tone Dub, we created the group The Outa Steppaz for a first date in Dordogne, 
      which was my first live experience. A second fundamental encounter  was with Sancho with whom I founded the Marée BASS collective to promote underground music through 
      parties and a record label.

      <br/><br/>

      This motivated me to launch my solo project Phoniandflore and produce reflective albums.

      <br/><br/>
      10 years since my debut, I have released 6 albums and some EPs on various labels. And almost a hundred appearances all over Europe at festivals, concerts, release parties, 
      sound systems.

      <br/><br/>

      Encounters and enriching experiences which have, for sure, contributed to the development of my productions.      
  </span>
  </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>

        The discovery of Dub in 2000 -- through high tone, kaly live dub, brain damage, zenzile, lobe radiant, ezekiel and more -- was huge for me. It remains my favorite style of music 
        ever since, but I listen to all kinds of music at home. Jazz, hip hop, world music, drum & bass, dubstep, techno, bass music.
  </span>
  </p> 
  </div>
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>

        My 6 albums have been created with very specific themes, each album took a year to complete.

        <br/><br/>

        The last 2 albums Into The Future and Ten Years Of Dub mark the evolution of the quality of my productions with a desire to mix dub sounds with other musical styles such as 
        drum & bass and dubstep.

        <br/><br/>

        All these albums are of course free to download in order to share the music as much as possible.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>

        Following the release of the Ten Years Of Dub album, which celebrates the 10th anniversary of the Phoniandflore project, several projects are underway including a 
        collaboration with MC JAZZZZ (hip hop dub project), a collaboration with Drop The Pulse and an EP Drum & Bass which will be released in 2021. In addition, The Outa 
        Steppaz project is also back, we are producing a future release.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>
        
        Producing a new song and sharing it LIVE in public are my two favourite moments, which push me to continue and evolve. And album releases are always great highlights.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        
        The song I produced for the compilation is a mixture of influences from Arabic songs with some atmospheres from various countries in a nod to the term Nomads.
    </span>
    </p> 
  </div>

  <br/>
  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>