<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

<div class="card mb-2 border-0" fxFlex="100%">
  <div class="row no-gutters">
    <div class="col-md-3 mb-2 mt-0" style="padding-top: 0;padding-left: 0;padding-right: 25px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')">
      <img src="./assets/images/nomads/aimnbreak.jpg" class="card-img" alt="..." style="max-width: 300px;max-height: 100%;" fxHide.xs>
      <img src="./assets/images/nomads/aimnbreak.jpg" class="card-img" alt="..." style="max-width: 100%;max-height: 100%;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
    </div>
    <div class="col-md-9">
      <div class="card-body" style="max-width: 1040px;padding-top: 0;padding-left: 0;padding-right: 0;">

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Artist:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Aimnbreak
            </p>
            <p style="font-size: 1.1em;margin-bottom: 5px;text-align:center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <strong>
                Aimnbreak
              </strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Song:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Come Ruff
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              Come Ruff
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Album:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')" fxHide.xs>Nomads in Sound 4</p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')" fxHide.xl fxHide.lg fxHide.md fxHide.sm><small>Nomads in Sound 4</small></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Home Page:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/aimnbreak')" fxHide.xs>
              soundcloud.com/aimnbreak
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/aimnbreak')" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                soundcloud.com/aimnbreak
              </small>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Social Media:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Twitter, Instagram, Facebook
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                Twitter, Instagram, Facebook
              </small>
            </p>
          </div>
        </div>

        <iframe 
          fxHide.md
          fxHide.sm
          fxHide.xs 
          style="border: 0; width: 444px; height: 120px;margin-top: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=2592989262/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/tracklist=false/tracks=1075484610/esig=c60edceb295af7ba6683bd2ea8bd6823/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition">Nomads in Sound 4 - Steppe Edition by Aimnbreak</a>
      </iframe>

      </div>
    </div>
  </div>
</div>

<iframe 
fxHide.xl
fxHide.lg
style="border: 0; width: 444px; height: 120px;margin-bottom: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=2592989262/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/tracklist=false/tracks=1075484610/esig=c60edceb295af7ba6683bd2ea8bd6823/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition">Nomads in Sound 4 - Steppe Edition by Aimnbreak</a>
</iframe>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>How would you describe your musical background?</h5>
      My father was a musician and a sound technician so you could say I grew up in a musical home. 
      I started playing drums at a very young age, around 6 years old, and played in many different kinds of bands until my early 20s. 
      At that time I moved away from my home town, and also moved on to new musical adventures as I started producing electronic music and later started dj:ing.
      I also have some training in piano, but to call me a seasoned keyboard player would be quite the exageration.
  </span>
  </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>
      Too many to mention them all but there are of course a few events in my life that influenced me greatly.<br/><br/>

      First, when I was about five years old and my father was on stage to start a gig with his band the drummer in that band let me play his drums. I had no idea it was on micked up and ready to go, so the sound when I hit that first drum I almost fell over scared shitless. But from that moment on I knew that drums was my calling.<br/><br/>

      Second, my caretaker when I was a little bit older had an older son who played a lot of Reggae, Synth and Hip-Hop. When he let me copy early Beastie Boys EP:s to cassette in 85/86 i was hooked on Hip-Hop.<br/><br/>

      Then, a few years later I saw Jean Michel Jarre on TV and his concert from Houston and that blew my mind. From that moment I knew that electronic music was my future.<br/><br/>

      Later revelations that influenced me gratelly was hearing Aphex Twin, and I was especially hooked since the On EP. And life will never be the same again after I heard Shy Fx and Original Nuttah for the very first time when it was released.<br/><br/>

      As I´ve grown, and also because I´ve been DJ:ing for so many years, my musical taste and influences are all over the place now adays. 
  </span>
  </p> 
  </div>
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>
        Hmm, I have not really reflected on that. But I am immensely proud and happy that my recent Jungle project that got financed to be put on vinyl.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>
        I have a few different aliases and projects that I am working on. By myself I have Aimnbreak and Sidstar, where the first produce more beats oriented music and the latter chiptune dubish. With Anna Gavanas our main projects together are Bass Trolls and Pufferfisk, where Bass Trolls is dub/steppers influenced and Pufferfisk is our guilty pleasure project for 80s galore.<br/><br/>

        Besides my own projects I am right now mostly influenced by Arabic music, Cumbia and UK Steppers Dub.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>
        I love almost every aspect that has to do with music; listening, learning, producing, mixing and mastering. There is an infinite amount of knowledge to be gained and I´d like to get to know as much as possible. Everything I learn just makes me enjoy music even more.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        My last project was related to Jungle which is quite an old school kind of music. For this project I wanted to explore new grounds and to combine my roots from Hip-Hop and IDM with instrumental Grime. I wanted my track to sound digital, clean and punchy with a rough edge. I have always been inspired by the UK underground dance scene and wanted to venture out in that direction, but with a more modern sound than previous projects.
    </span>
    </p> 
  </div>

  <br/>
  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>