/* .mat-dialog-content {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
} */

iframe{
  border: 0;
  width: 100%;
  max-width: 350px;
  min-height: 555px;
  padding: 0px 0px 0px;
  margin: 0px 0px 0px;
  // max-height: 555px;
}

/* .close {
  position: absolute;
  top: 0;
  right: 0;
} */
