<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

<div class="card mb-2 border-0" fxFlex="100%">
  <div class="row no-gutters">
    <div class="col-md-3 mb-2 mt-0" style="padding-top: 0;padding-left: 0;padding-right: 25px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')">
      <img src="./assets/images/nomads/ss_y_oo.jpg" class="card-img" alt="..." style="max-width: 300px;max-height: 100%;" fxHide.xs>
      <img src="./assets/images/nomads/ss_y_oo.jpg" class="card-img" alt="..." style="max-width: 100%;max-height: 100%;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
    </div>
    <div class="col-md-9">
      <div class="card-body" style="max-width: 1040px;padding-top: 0;padding-left: 0;padding-right: 0;">

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Artist:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Saqra Selekta y Olaya Sound System
            </p>
            <p style="font-size: 1.1em;margin-bottom: 5px;text-align:center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <strong>
              Saqra Selekta y Olaya Sound System
              </strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Song:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Corazon Tribulado
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              Corazon Tribulado
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Album:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition')" fxHide.xs>Nomads in Sound 4 - Steppe Edition</p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;" (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition')" fxHide.xl fxHide.lg fxHide.md fxHide.sm><small>Nomads in Sound 4 - Steppe Edition</small></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Home Page:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/pufferfisk')" fxHide.xs>
                soundcloud.com/pufferfisk
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;cursor: pointer;"
                (click)="onClick('https://soundcloud.com/pufferfisk')" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                soundcloud.com/pufferfisk
              </small>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-4" fxHide.sm fxHide.xs>
            <p style="margin-bottom: 5px;" class="text-muted">Social Media:</p>
          </div>
          <div class="ccol-md-10 col-md-8">
            <p style="font-size: 1.1em;margin-bottom: 5px;" fxHide.xs>
              Twitter, Instagram, Facebook
            </p>
            <p style="font-size: 1.0em;margin-bottom: 5px;font-style: italic;text-align: center;" fxHide.xl fxHide.lg fxHide.md fxHide.sm>
              <small>
                Twitter, Instagram, Facebook
              </small>
            </p>
          </div>
        </div>

        <iframe 
          fxHide.md
          fxHide.sm
          fxHide.xs 
          style="border: 0; width: 444px; height: 120px;margin-top: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=2592989262/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/tracklist=false/tracks=3893861907/esig=93f6259b161a412d9b04ae81c4266cb7/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition">Nomads in Sound 4 - Steppe Edition by Saqra Selekta y Olya Sound System</a>
      </iframe>

      </div>
    </div>
  </div>
</div>

<iframe 
fxHide.xl
fxHide.lg
style="border: 0; width: 444px; height: 120px;margin-bottom: 15px;" src="https://bandcamp.com/EmbeddedPlayer/album=2592989262/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/tracklist=false/tracks=3893861907/esig=93f6259b161a412d9b04ae81c4266cb7/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4-steppe-edition">Nomads in Sound 4 - Steppe Edition by Saqra Selekta y Olya Sound System</a>
</iframe>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>How would you describe your musical background?</h5>

      From the pre hispanic sounds and the syncretic andean dances, to the underground punk, hardcore and ska scene,

      <br/><br/>

      Born in the Andes, in Cusco from an anarchist and musicologist mother. I danced in the Paucartambo dances, which came from the Takis, the prehispanic indigenous performing arts. The cuadrilla in which I danced is named Saqra, that means devil, but is based on the cult to the ancient gods of the Amazon, like the otorongo and the snake. That’s why my solo project is called Saqra Selekta, as a tribute to this heritage.
      
      <br/><br/>

      With the political violence we moved to Lima, there I grow in the underground scene, with rock subterráneo, punk, hardcore, ska and fusion. There I was part of the GRASS collective, who organized the Agustirock Festival, the main festival of alternative rock in the cerros of Lima. There I learn to play fusion of alternative rock with cumbia and huayno.
      
      <br/><br/>

      In the mids 2000s I take Agustino`s way of organize music shows to Barranco, and start with Puramerk and other skacore bands to make shows in Bernies Bar, developing what was called "The peruvian CBGB of ska". But also Bernie`s give space to a new underground generation.
      
      <br/><br/>

      From that new scene, Plug Plug appears. We were part of a new staring point for independent Peruvian rock, post rock and post hardcore in our case.      
  </span>
  </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>

        I am influenced  by rock subterráneo bands such as Leusemia and Héroe Inocente. I have the fortune to played with them in the art rock called El Aire, which is considered a cult band. We played together for 7 years, 7 hours a day, 3 days a week. 

        <br/><br/>

        From being part of the (social aware) underground scene, I study social sciences, and apply those to management and creation. 

        <br/><br/>

        From punk I went in to ska(core). In the research of the roots of ska, I found sound system culture, and one of the few music approaches that bring the bass up front. 

        <br/><br/>

        Then I start a musical, political and cultural journey that led me to search in to my afro andean roots and history.
        Also I have the fortune to work in the production of the shows of Mad Professor and Lee Scratch Perry in Lima. In my sound there is direct influence of Vibronics, Mungos Hi Fi and Manudigital. The live dub sessions of Young Warrior, Jah Shaka and King Shiloh.

        <br/><br/>

        Dub Master Kush and King Cholo Sound are the Peruvian artists who have been my teachers in to reggae and dub.

        <br/><br/>

        In this track there is also influence from Count Ossie and the mystic revelation of Rastafari, and chicha guitarists.

        <br/><br/>

        But among all, there is the influence of the etnomusicologist Chalena Vásquez.

  </span>
  </p> 
  </div>
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>

        Plug Plug`s 10 years anniversary: 
        https://www.youtube.com/watch?v=S0cTwJUK6po

        <br/><br/>

        The synthesis between reggae and afro peruvian festejo with Remind: 
        https://www.youtube.com/watch?v=kITsPxZ3Rj4

        <br/><br/>

        International collaboration between Colombia, Uruguayan and Peruvian artists in Old Providence island, based on my song Identidad. 
        https://www.youtube.com/watch?v=aEcbQN69B_4

        <br/><br/>

        The live streaming in pandemic of Saqra Selekta and Olaya Sound System by Lima Dub Club:
        https://www.facebook.com/watch/?v=764132230962784

        <br/><br/>

        Co producing Festival Cultura Libre and Festival Internacional de Cajón y Percusión Rafael Santa Cruz
        https://www.youtube.com/watch?v=tAcPkKGAcYs

        <br/><br/>

        DJ ing as Saqra Selecta at the Una Sola Fuerza Festival, also played with Puramerk in the same festival
        https://www.youtube.com/watch?v=EeWioGPj68U
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>

        Im developing a format that integrates 3D visual of pre hispanic Huacas, sacred places that now are buried, as stage or background for streaming music shows, La Huaca Sistema Visual Sonoro, its been developed along Sebastian Suárez as visual artist, using the archeological 3D images that my students (and then work colleagues, lead by Cecilia Camargo) develop in this page: https://granmuseo.calidda.com.pe/ 

        <br/><br/>

        Also I’m working in to music composition for movies and animation. Currently I’m developing the music for the short animated film “Avispa y Colibrí”, film by Aída del Solar and Apus Studio, which action occurs during the Peruvian independence and focus on the female experience around feminist figure Flora Tristán. So I’m searching in to the music around 1821, like zamacueca, and from there develop sound possibilities.

        <br/><br/>

        My late mother, as I said, was a particular ethnomusicologist, so she leave to me literally among two tons of books. Some of them, as “Nueva Crónica y Buen Gobierno by the indigenous cronicler Guamán Poma de Ayala, are marked with annotations. So Im dedicated to the study of the music and dance in the pre hispanic times.

        <br/><br/>

        Also I am working with beloved authors from Britain and the US to translate in to Spanish their book about one of the cornerstones of reggae.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>
        
        Part of that musicological legacy implies to search in to the power of sound. And to think of sound as an energy. 
        I love sound and bass. I can say that “bass is my religion”.
        I try to show people some possibilities that they may have not think of.
        I would live to share with mixed culture people that think different the confort to know that they (we) are not alone        
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        
        This is a special track, recorded and mixed for this compilation. We are presenting “Corazón Tribulado” a collaboration between Saqra Selekta and the reggae cumbia and 
        peruvian fusion band, Olaya Sound System.

        “Corazón Tribulado” is based on  “Las gotas riddim” and developed by los Olaya and myself after our presentation in the Lima Dub Club Platform. 

        This song includes sounds and textures from the afro peruvian instruments like quijada de burro and cajón with a sonaja or maraca from the healing songs tradition of the 
        amazon. The bass is developed by Alonso Rodriguez, blending Jamaican and North peruvian bass styles. The dub and chicha guitar layers are created and played by 
        Matteo Bonora (who is also a dub producer in Bontam, and singer of the late reggae band Los Filipz) The lyrics were composed by Lorenzo Zolezzi, and its a pro legalize 
        reflection about music and herb as company in the hard times we are living. The main sound of the song its made by a Casiotone MT 40, a distinctive instrument of Saqra 
        Selectas sound. I played keyboards and percussions on this track. So the idea behind this contribution is to share different approach to rhythm and sound textures, 
        enjoying a Peruvian way of making dub. I am really pleased to present this collaboration for the Nomads in Sound anniversary compilation.
    </span>
    </p> 
  </div>

  <br/>
  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>