<div
  class="container"
  fxLayoutAlign="start"
  fxLayout="row wrap"
  fxFlex="100%"
  fxFlex.sm="100%"
  fxFlex.xs="100%"
  fxFill
>

<mat-card fxFlex="20" fxFlex.lg="15%" fxFlex.md="14%" fxFlex.sm="65%" fxFlex.xs="90%" style="box-shadow: none;">
  <a (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')" style="cursor: pointer;">
    <img mat-card-image src="./assets/images/nomads/pufferfisk.jpg" alt="image"> 
  </a>
</mat-card>
<mat-card-header>
</mat-card-header>
<mat-card-content fxFlex="72" fxFlex.lg="69%" fxFlex.md="64%" fxFlex.sm="95%" fxFlex.xs="100%">
  <div fxLayoutAlign="start"
        fxLayout="row">
    <div fxFlex="15%"
          fxFlex.md="20%"
          fxFlex.sm="30%"
          fxFlex.xs="35%" >
      Artist:
    </div>
    <div fxFlex="85%"
          fxFlex.md="80%"
          fxFlex.sm="70%"
          fxFlex.xs="65%"
          style="font-size: 1.15em">
      Pufferfisk
    </div>
    </div>

    <div fxLayoutAlign="start"
        fxLayout="row">
    <div fxFlex="15%"
        fxFlex.md="20%"
        fxFlex.sm="30%"
        fxFlex.xs="35%">
      Song:
    </div>
    <div fxFlex="85%"
        fxFlex.md="80%"
        fxFlex.sm="70%"
        fxFlex.xs="65%"
          style="font-size: 1.15em">
      Hola Mujeres
    </div>
    </div>

    <div fxLayoutAlign="start"
      fxLayout="row">
    <div fxFlex="15%"
        fxFlex.md="20%"
        fxFlex.sm="30%"
        fxFlex.xs="35%">
    Album:
    </div>
    <div fxFlex="85%"
        fxFlex.md="80%"
        fxFlex.sm="70%"
        fxFlex.xs="65%"
        style="font-size: 1.15em;cursor: pointer;"
        (click)="onClick('https://meerkatrecordings.bandcamp.com/album/nomads-in-sound-4')">
    Nomads in Sound 4
    </div>
    </div>

    <div fxLayoutAlign="start"
    fxLayout="row">
    <div fxFlex="15%"
        fxFlex.md="20%"
        fxFlex.sm="30%"
        fxFlex.xs="35%">
    Home Page:
    </div>
    <div fxFlex="85%"
        fxFlex.md="80%"
        fxFlex.sm="70%"
        fxFlex.xs="65%"
      style="font-size: 1.15em;cursor: pointer;"
      (click)="onClick('https://soundcloud.com/pufferfisk')">
      Soundcloud
    </div>
    </div>

    <div fxLayoutAlign="start"
    fxLayout="row">
    <div fxFlex="15%"
        fxFlex.md="20%"
        fxFlex.sm="30%"
        fxFlex.xs="35%">
    Social Media:
    </div>
    <div fxFlex="85%"
        fxFlex.md="80%"
        fxFlex.sm="70%"
        fxFlex.xs="65%"
      style="font-size: 1.15em">
    Twitter, Instagram, Facebook
    </div>
  </div>

  <div fxLayoutAlign="start"
    fxLayout="row"
    fxHide.lg
    fxHide.md
    fxHide.sm
    fxHide.xs
    style="margin-top: 15px;">
    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=108535965/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=none/transparent=true/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/come-ruff">Come Ruff by Aimnbreak</a></iframe>
    </div>

    <div fxLayoutAlign="start"
    fxLayout="row"
    fxHide.xl
    fxHide.md
    fxHide.sm
    fxHide.xs
    style="margin-top: 15px;">
    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=108535965/size=small/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/come-ruff">Come Ruff by Aimnbreak</a></iframe>
    </div>

</mat-card-content>

<div fxFlex="100%"
fxHide.xl
fxHide.lg
style="margin-bottom: 15px;">
<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=108535965/size=small/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="https://meerkatrecordings.bandcamp.com/album/come-ruff">Come Ruff by Aimnbreak</a></iframe>
</div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>How would you describe your musical background?</h5>

      Influenced by synth pioneers Laserdance, Jean Michael Jarre, John Carpenter, Fancy and the Spanish
      italo band Azyl y Negro, Pufferfisk was founded in 2011.
  </span>
  </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
      <span>
      <h5>What is your main musical influence and/ or collective?</h5>

      We are influenced by, and collaborate with, Spanish robots with bad American accents.
  </span>
  </p> 
  </div>
  
  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Can you describe the main milestones in your earlier production/ projects?</h5>

        Ten years ago, in 2011 we released “Greetings in Space.” In 2016 we released the EP “Bolero,” with a cover of
        the track by Fancy. In 2017 our album “Retrofututismo” was released and in 2020 we released the EP
        “We are Pufferfisk”, as well as the 2020 smash hit “El Rincón del Pollo”, which was selected as one of
        the best tracks for that year by Samir Yousefi on Swedish National Radio.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your current projects and what inspires you the most at the moment?</h5>

        We can’t stop making excessive and happy-go-lucky italo disco with 80s retro vibes and tacky visuals.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>Which are your greatest passions as an artist?</h5>
        
        Synthesizers, 80s TV shows (like Miami Vice and Knight Rider), italo disco and cheesy melodies. Our
        motto is “More is more”.
    </span>
    </p> 
  </div>

  <div>
    <p style="padding-bottom: 15px;">
        <span>
        <h5>What are your ideas behind your contribution to the Nomads in Sound anniversary compilation?</h5>
        
        We watched the old TV show Knight Rider and were impressed by David Hasselhoff: his poofy hair, his
        phenomenal self confidence and his womanizing swagger. So we made the tribute “Hola Mujeres”,
        complete with Spanish robots singing “El coche del noche. Hola mujeres: ¿cómo estás? Yo me llama El
        Hasselhof.”
    </span>
    </p> 
  </div>

  <br/>
  <button
  mat-flat-button
  [routerLink]="['/nomads']" target="_self"
>Back to Nomads
</button>