.navbar-brand {
  color: #99a9b8;
  font-size: 1.05rem;
  padding: 15px 0px 15px;
}

.navbar-brand:hover {
  color:#FF7E00;
}

.active {
  color: #2f4050;
}

.form-control {
  max-height: 25px;
  display:inline-block;
}

.main {
  margin-left:auto;
  display:inline-block;
  text-align: center;
  min-width: 200px;
}

.btn-secondary {
  max-height: 25px;
  font-size: 0.6rem;
  text-align: center;
  background-color: #99a9b8;
  border-color: #99a9b8;
}

.btn-secondary:hover {
  background-color: #99a9b8;
  border-color: #99a9b8;
  cursor: default;
}

.btn-secondary:focus {
  // background-color: #FF7E00;
  // border-color: #FF7E00;
  cursor: default;
  box-shadow: none;
}

div.container.row {
  max-width: 100%;
}

.form-control:focus {
  box-shadow: none;
}

.container {
  align-items: center;
}

.row {
  margin: 0px;
}

.navbar {
  margin-left: -16px;
}

.form-control {
  font-size: 14px !important;
}

.form-control:focus {
  border-color: #FF7E00;
}
