<div class="row">
  <div class="col-md-11">
    <nav class="navbar" [ngClass]="">
      <div>
        <a
          class="navbar-brand"
          [routerLink]="['/home']"
          routerLinkActive="active"
        >
          Home
        </a>
        <a
          class="navbar-brand"
          [routerLink]="['/artists']"
          routerLinkActive="active"
        >
          Artists
        </a>
        <a
          class="navbar-brand"
          [routerLink]="['/releases']"
          routerLinkActive="active"
        >
          Releases
        </a>
        <!-- <a
        class="navbar-brand"
        [routerLink]="['/nomads']"
        routerLinkActive="active"
      >
        Nomads
      </a> -->
      <!-- <a
      class="navbar-brand"
      (click)="onClick('https://merch.meerkatrecordings.se/')"
      routerLinkActive="active"
      style="cursor: pointer;"
    >
    Merch
    <mark><i class="fa fa-star" style="color: gold;"></i> Merch</mark>
    </a> -->
      </div>
    </nav>
    <div class="main auto" fxHide.xs style="float: right;margin-top: -48px;margin-right: -120px;">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder=""
          (keyup)="updateFilter($event)"
        />
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" >
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- <div class="main col-md-4" fxHide.xs fxFlex="23%">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder=""
        (keyup)="updateFilter($event)"
      />
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div> -->
